<footer>
  <div class="footer card text-center p-3">
    <div class="card-header">Desarrollador Web</div>
    <div class="card-body">
      <h5 class="card-title">Made in Alvaro Bahos</h5>
      <p class="card-text">
        Un desarrollador web que usa Bootstrap crea sitios modernos y
        responsivos rápidamente, aprovechando su sistema de grid, componentes y
        utilidades CSS, asegurando compatibilidad y buen diseño en cualquier
        dispositivo.
      </p>
      <a
        href="https://github.com/alvarobahos"
        class="btn btn-primary"
        target="_blank"
        >Git Hub</a
      >
    </div>
    <div class="card-footer text-body-secondary">&copy; 2025</div>
  </div>
</footer>
